<header class="bg-white">
  <div
    class="container mx-auto max-w-[1440px] flex items-center justify-between py-8 border-b-[1px] border-black border-opacity-10"
  >
    <!-- Logo -->
    <div>
      <img src="assets/images/logo.png" alt="Logo" class="w-[85px] h-[85px]" />
    </div>
    <!-- Navigation Links -->
    <nav class="flex space-x-9 font-quicksand text-[18px] leading-[22.5px]">
      <a href="index.html" class="nav-link relative text-[#DF8B3D] font-bold">
        Home
        <span
          class="indicator absolute left-1/2 transform -translate-x-1/2 top-full mt-1 w-2 h-2 rounded-full bg-[#DF8B3D]"
        ></span>
      </a>
      <a
        href="about.html"
        class="nav-link relative text-[#010101] font-bold hover:text-[#DF8B3D]"
      >
        About Us
        <span
          class="indicator absolute left-1/2 transform -translate-x-1/2 top-full mt-1 w-2 h-2 rounded-full bg-[#DF8B3D] hidden"
        ></span>
      </a>
      <a
        href="academic.html"
        class="nav-link relative text-[#010101] font-bold hover:text-[#DF8B3D]"
      >
        Academic
        <span
          class="indicator absolute left-1/2 transform -translate-x-1/2 top-full mt-1 w-2 h-2 rounded-full bg-[#DF8B3D] hidden"
        ></span>
      </a>
      <a
        href="admission.html"
        class="nav-link relative text-[#010101] font-bold hover:text-[#DF8B3D]"
      >
        Admissions
        <span
          class="indicator absolute left-1/2 transform -translate-x-1/2 top-full mt-1 w-2 h-2 rounded-full bg-[#DF8B3D] hidden"
        ></span>
      </a>
      <a
        href="gallery.html"
        class="nav-link relative text-[#010101] font-bold hover:text-[#DF8B3D]"
      >
        Gallery
        <span
          class="indicator absolute left-1/2 transform -translate-x-1/2 top-full mt-1 w-2 h-2 rounded-full bg-[#DF8B3D] hidden"
        ></span>
      </a>
      <a
        href="kidscorner.html"
        class="nav-link relative text-[#010101] font-bold hover:text-[#DF8B3D]"
      >
        Kid's Corner
        <span
          class="indicator absolute left-1/2 transform -translate-x-1/2 top-full mt-1 w-2 h-2 rounded-full bg-[#DF8B3D] hidden"
        ></span>
      </a>
      <a
        href="guestbook.html"
        class="nav-link relative text-[#010101] font-bold hover:text-[#DF8B3D]"
      >
        Guest Book
        <span
          class="indicator absolute left-1/2 transform -translate-x-1/2 top-full mt-1 w-2 h-2 rounded-full bg-[#DF8B3D] hidden"
        ></span>
      </a>
    </nav>
    <a
      href="contact.html"
      class="bg-[#35AB14] text-white text-[18px] font-quicksand font-semibold flex items-center justify-center px-8 py-2.5 rounded-[17px] shadow-lg hover:bg-green-600 relative border-b-[2px] border-white"
      style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2)"
    >
      Contact Us
      <span
        class="ml-3 w-[24px] h-[24px] bg-white text-black flex items-center justify-center rounded-full"
      >
        <svg
          width="8"
          height="11"
          viewBox="0 0 8 11"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.68945 0.813347C1.55104 0.810781 1.41525 0.851298 1.30087 0.929293C1.1865 1.00729 1.0992 1.1189 1.05105 1.24869C1.00289 1.37848 0.996273 1.52003 1.0321 1.65375C1.06793 1.78747 1.14443 1.90675 1.25102 1.99508L5.33039 5.48736L1.2485 8.97965C1.17393 9.03401 1.11144 9.10324 1.06496 9.18297C1.01849 9.26269 0.989051 9.35119 0.9785 9.44287C0.967949 9.53455 0.976516 9.62742 1.00366 9.71562C1.0308 9.80382 1.07594 9.88544 1.13621 9.95532C1.19648 10.0252 1.27059 10.0818 1.35385 10.1216C1.4371 10.1614 1.52771 10.1835 1.61994 10.1866C1.71218 10.1896 1.80404 10.1735 1.88972 10.1392C1.97541 10.105 2.05307 10.0533 2.11779 9.98752L6.78425 5.99886C6.85764 5.93617 6.91656 5.85833 6.95697 5.77067C6.99737 5.68302 7.0183 5.58766 7.0183 5.49114C7.0183 5.39463 6.99737 5.29926 6.95697 5.21161C6.91656 5.12396 6.85764 5.04611 6.78425 4.98343L2.11779 0.982166C1.99954 0.876889 1.84773 0.817057 1.68945 0.813347Z"
            fill="#010101"
          />
        </svg>
      </span>
    </a>
  </div>
</header>
