* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* For all browsers */
body {
  overflow: auto;
  /* Keep scrolling functionality */
}

::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar in Chrome, Safari, and Edge */
}

body {
  -ms-overflow-style: none;
  /* Hide scrollbar in IE and Edge */
  scrollbar-width: none;
  /* Hide scrollbar in Firefox */
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}


.aclass::before,
.aclass::after {
  content: "";
  position: absolute;
  border-radius: 40px;
  /* Match card's border radius */
  pointer-events: none;
  z-index: 10;
}

.aclass::before {
  top: 4.25rem;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid transparent;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, #df8b3d, rgba(255, 255, 255, 0)) border-box;
  z-index: -0;
}

.aclass::after {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 2px solid transparent;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #df8b3d) border-box;
  z-index: -10;
}

.bclass::before,
.bclass::after {
  content: "";
  position: absolute;
  border-radius: 40px;
  /* Match card's border radius */
  pointer-events: none;
  z-index: 10;
}

.bclass::before {
  top: 4.25rem;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid transparent;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, #35AB14, rgba(255, 255, 255, 0)) border-box;
  z-index: -0;
}

.bclass::after {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 2px solid transparent;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #35AB14) border-box;
  z-index: -10;
}

.cclass::before,
.cclass::after {
  content: "";
  position: absolute;
  border-radius: 40px;
  /* Match card's border radius */
  pointer-events: none;
  z-index: 10;
}

.cclass::before {
  top: 4.25rem;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid transparent;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, #A023B0, rgba(255, 255, 255, 0)) border-box;
  z-index: -0;
}

.cclass::after {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 2px solid transparent;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #A023B0) border-box;
  z-index: -10;
}

/* .clip-hexagon {
  position: relative;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background: white;
  filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.05));
}


.clip-hexagon::after {
  content: '';
  position: absolute;
  top: -35px; 
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  background: url('../images/Polygon.png') no-repeat center center;
  background-size: contain;
  background-color: #fff;
  z-index: -1;
} */

.clip-hexagon {
  position: relative;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.05);
}

.clip-hexagon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: inherit;
  /* Inherit the clip-path to match the hexagon */
  z-index: -1;
  background-color: rgba(160, 131, 131, 0.05);
  /* Shadow layer */
  filter: blur(8px);
  /* Adjust blur to enhance shadow effect */
}


/* about */
.welcom-card1::before,
.welcom-card1::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  pointer-events: none;
  z-index: 10;
}

.welcom-card1::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid transparent;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #df8b3d, rgba(255, 255, 255, 0)) border-box;
  z-index: -0;
}

.welcom-card1::after {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 2px solid transparent;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #df8b3d) border-box;
  z-index: -10;
}

.welcom-card2::before,
.welcom-card2::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  /* Match card's border radius */
  pointer-events: none;
  z-index: 10;
}

.welcom-card2::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid transparent;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #0090D6, rgba(255, 255, 255, 0)) border-box;
  z-index: -0;
}

.welcom-card2::after {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 2px solid transparent;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #0090D6) border-box;
  z-index: -10;
}

.welcom-card3::before,
.welcom-card3::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  /* Match card's border radius */
  pointer-events: none;
  z-index: 10;
}

.welcom-card3::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid transparent;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #35AB14, rgba(255, 255, 255, 0)) border-box;
  z-index: -0;
}

.welcom-card3::after {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 2px solid transparent;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #35AB14) border-box;
  z-index: -10;
}

.welcom-card4::before,
.welcom-card4::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  /* Match card's border radius */
  pointer-events: none;
  z-index: 10;
}

.welcom-card4::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid transparent;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #A023B0, rgba(255, 255, 255, 0)) border-box;
  z-index: -0;
}

.welcom-card4::after {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 2px solid transparent;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #A023B0) border-box;
  z-index: -10;
}


/* about slider */

.slider-wrapper img {
  transition: transform 0.3s ease-in-out;
}

.slider-wrapper img:hover {
  transform: scale(1.02);
}

button {
  cursor: pointer;
  font-size: 18px;
}

.slider-wrapper {
  display: flex;
  gap: 36px;
  transition: transform 0.5s ease-in-out;
}


.gradient-border-orange {
  position: relative;
  border-radius: 50px;
  background: white;
  z-index: 1;
}

.gradient-border-orange:hover:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  padding: 3px;
  background: linear-gradient(129.72deg, #DF8B3D 11.29%, rgba(255, 255, 255, 0) 26.17%),
    linear-gradient(316.82deg, #DF8B3D 12.17%, rgba(255, 255, 255, 0) 27.04%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
}
.gradient-border-blue {
  position: relative;
  border-radius: 50px;
  background: white;
  z-index: 1;
}

.gradient-border-blue:hover:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  padding: 3px;
  background: linear-gradient(129.72deg, #0284CE 11.29%, rgba(255, 255, 255, 0) 26.17%),
    linear-gradient(316.82deg, #0284CE 12.17%, rgba(255, 255, 255, 0) 27.04%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
}
.gradient-border-green {
  position: relative;
  border-radius: 50px;
  background: white;
  z-index: 1;
}

.gradient-border-green:hover:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  padding: 3px;
  background: linear-gradient(129.72deg, #35AB14 11.29%, rgba(255, 255, 255, 0) 26.17%),
    linear-gradient(316.82deg, #35AB14 12.17%, rgba(255, 255, 255, 0) 27.04%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
}

/* Step Container */
.step-container-orange {
  position: relative;
  width: 300px;
  padding: 20px;
  /* background: #fff; */
  border: 2px solid transparent;
  border-radius: 0 0 30px 30px;
}

/* Rounded Border on the Left Side */
.step-container-orange::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(50%);
  height: 100%;
  border: 4px solid #e88b42;
  border-radius: 40px 0 0 40px;
  border-right: none;
}

/* Bottom Border and Right-Side Arrow to 50% */
.step-container-orange::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  border-right: 4px solid #e88b42;
  border-bottom: 4px solid #e88b42;
  border-bottom-right-radius: 40px;
}
/* Step Container */
.step-container-blue {
  position: relative;
  width: 300px;
  padding: 20px;
  /* background: #fff; */
  border: 2px solid transparent;
  border-radius: 0 0 30px 30px;
}

/* Rounded Border on the Left Side */
.step-container-blue::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(50%);
  height: 100%;
  border: 4px solid #0284CE;
  border-radius: 40px 0 0 40px;
  border-right: none;
}

/* Bottom Border and Right-Side Arrow to 50% */
.step-container-blue::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  border-right: 4px solid #0284CE;
  border-bottom: 4px solid #0284CE;
  border-bottom-right-radius: 40px;
}
/* Step Container */
.step-container-green {
  position: relative;
  width: 300px;
  padding: 20px;
  /* background: #fff; */
  border: 2px solid transparent;
  border-radius: 0 0 30px 30px;
}

/* Rounded Border on the Left Side */
.step-container-green::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(50%);
  height: 100%;
  border: 4px solid #35AB14;
  border-radius: 40px 0 0 40px;
  border-right: none;
}

/* Bottom Border and Right-Side Arrow to 50% */
.step-container-green::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  border-right: 4px solid #35AB14;
  border-bottom: 4px solid #35AB14;
  border-bottom-right-radius: 40px;
}

.step-container-purple {
  position: relative;
  width: 300px;
  padding: 20px;
  border: 2px solid transparent;
  border-radius: 0 0 30px 30px;
}

.step-container-purple::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(50%);
  height: 100%;
  border: 4px solid #A023B0;
  border-radius: 40px 0 0 40px;
  border-right: none;
}

.step-container-purple::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  border-right: 4px solid #A023B0;
  border-bottom: 4px solid #A023B0;
  border-bottom-right-radius: 40px;
}


.arrow-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.arrow-line-orange {
  width: 65px; /* Horizontal line length */
  height: 4px; /* Line thickness */
  background-color: #DF8B3D; /* Line color */
}
.arrow-line-blue {
  width: 65px; /* Horizontal line length */
  height: 4px; /* Line thickness */
  background-color: #0284CE; /* Line color */
}
.arrow-line-green {
  width: 65px; /* Horizontal line length */
  height: 4px; /* Line thickness */
  background-color: #35AB14; /* Line color */
}
.arrow-line-purple {
  width: 65px; /* Horizontal line length */
  height: 4px; /* Line thickness */
  background-color: #A023B0; /* Line color */
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Style for inactive bullets */
.swiper-pagination-bullet {
  width: 5px; /* Bullet width */
  height: 5px; /* Bullet height */
  background-color: #e0e0e0; /* Light gray for inactive bullets */
  opacity: 1; /* Ensure full visibility */
  margin: 0 5px; /* Spacing between bullets */
  border-radius: 50%; /* Make bullets round */
  transition: background-color 0.3s ease; /* Smooth transition */
}

/* Style for active bullet */
.swiper-pagination-bullet-active {
  background-color: #d48031; /* Orange color for active bullet */
  width: 30px; /* Longer active bullet */
  border-radius: 10px; /* Slightly rounded ends */
  transition: width 0.3s ease, background-color 0.3s ease;
}
/* Custom position for Swiper pagination */
:root {
  --swiper-pagination-bottom: -50px; /* Adjust bottom spacing */
  --swiper-pagination-top: auto;    /* Reset top position */
}

/* Specific Swiper pagination container */
.swiper-pagination {
  bottom: var(--swiper-pagination-bottom); /* Position the pagination */
  top: var(--swiper-pagination-top);       /* Control top */
  left: 0;                                /* Align to the left */
  width: 100%;                            /* Full width */
  text-align: center;                     /* Center align pagination bullets */
}
.swiper-pagination-2 {
  bottom: var(--swiper-pagination-bottom); /* Position the pagination */
  top: var(--swiper-pagination-top);       /* Control top */
  left: 0;                                /* Align to the left */
  width: 100%;                            /* Full width */
  text-align: center;                     /* Center align pagination bullets */
}
